body {
    background-image: linear-gradient(180deg, #bce5ff 0, #9db9f2 50%, #7e8fb3 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.logo, .menu{
	margin:auto;
	text-align:center;
}

.formu{
    background-color: #ccffcb;
}

.formu {
    color: #38023b;
}
